<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>
<body>
    <h1 style="text-align: center;"> sign up your account </h1>

    <form method="post">
        {% csrf_token %}
        <label for="username" style="align-items: center;"> Username </label>
        <input type="text" name="username" style="align-items: center;">
        <br><br>
        <label for="password" style="align-items: center;"> Password </label>
        <input type="password" name="password" style="align-items: center;">
        <br><br>
        <label for="conform password" style="align-items: center;"> Conform Password </label>
        <input type="password" name="password1" style="align-items: center;">
        <br><br>
        <label for="email" style="align-items: center;"> Email </label>
        <input type="email" name="email" style="align-items: center;">
        <br><br>
        <button type="submit"> sign up </button>
    </form>

</body>
</html>